# SPDX-License-Identifier: Apache-2.0


menu "MIDAL MIDI Interface Core"
rsource "Kconfig.midal"
endmenu

menu "MIDAL MIDI Interface USB Device"
rsource "Kconfig.midal_usbd"
endmenu

rsource "modules/lib/zephyr-ble-midi/ble_midi/Kconfig"

source "Kconfig.zephyr"